<h1>Filme: <%= @film.title %></h1>

<%= link_to("Editar", edit_film_path) %>

<div>
  <br/>
  <strong>Ano de lançamento: </strong> <%= @film.release_year %>
  <strong>Sinopse: </strong> <%= @film.synopsis %>
  <strong>País de Origem: </strong> <%= @film.country %>
  <strong>Duração (min): </strong> <%= @film.duration %>
  <strong>Diretor(a): </strong> <%= @film.director.name if @film.director %>
  <strong>Gênero: </strong> <%= @film.genre.name if @film.genre %>
</div>

<br/>
<%= link_to("Voltar", films_path) %>